{% load i18n %}
{% if not instance.paiement_complet %}
    <p>Pour régler votre inscription vous pouvez
    {% if instance.course.stripe_public or instance.course.paypal %}<a href="{{ ROOT_URL }}{% url "inscriptions_done" course_uid=instance.course.uid numero=instance.numero %}">payer par internet</a> ou
    {% endif %}envoyer un chèque de {{ instance.prix }} € à l'ordre de "{{ instance.course.ordre }}".</p>

    <p>{% blocktrans with date=instance.date_annulation.date %}Envoyez votre paiement avant le {{ date }}. Si nous n'avons pas reçu votre paiement à cette date, votre inscription sera annulée.{% endblocktrans %}</p>
{% else %}
    <p>{% blocktrans with prix=instance.paiement %}Votre paiement de {{ prix }} € à bien été reçu.{% endblocktrans %}</p>
{% endif %}

