{% load i18n %}
{% load l10n %}
{% load stats %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ challenge.nom }}</h3>
    </div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img src="{{ MEDIA_URL }}{{ challenge.logo }}" align="left" width="100" class="visible-xs" />
                <img src="{{ MEDIA_URL }}{{ challenge.logo }}" align="left" width="200" class="hidden-xs" />
            </div>
            <div class="media-body">
                <p>{% trans "Vous participez au challenge." %}</p>
                <p>{% trans "Le challenge comporte les courses suivantes :" %}</p>
                <div class="row equal">
                    {% for course in challenge.courses.all %}
                    {% if course != COURSE %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <{% if nolinks %}span{% else %}a href="{{ course.url }}"{% endif %} class="hidden-xs" style="background: url({{ MEDIA_URL }}{{ course.logo }}) no-repeat 50% 50%; background-size: contain; height: 200px; width: 100%; display: block"></{{ nolinks|yesno:"span,a" }}>
                            <div class="caption">
                                <h3>
                                    {% if nolinks %}{{ course.nom }}
                                    {% else %}<a href="{{ course.url }}">{{ course.nom }}</a>
                                    {% endif %}
                                </h3>
                                <p>
                                    {% blocktrans with date=course.date ville=course.ville %}le {{date }} à {{ ville }}{% endblocktrans %}<br />
                                </p>
                                {% with participation.equipes_dict|get:course.uid as ec2 %}
                                    {% if ec2 %}
                                        <p class="bg-info">
                                        {% if ec2.points %}{% blocktrans with points=ec2.points %}Vous y avez déjà gagné {{ points }} points.{% endblocktrans %}
                                        {% else %}{% trans "Vous êtes déjà inscrit." %}{% endif %}
                                        <br />
                                        Dossard {{ ec2.equipe.numero }} - {{ ec2.equipe.nom }}</p>
                                    {% else %}
                                        {% if course.fermee %}
                                        <p>
                                            {% blocktrans %}Les inscriptions sont fermées{% endblocktrans %}<br />
                                        </p>
                                        {% else  %}
                                            {% if course.ouverte %}
                                            {% if not create and not update and request.COOKIES|get:instance.cookie_key %}
                                            <a class="btn btn-lg btn-block btn-primary" role="button" href="{% url "inscriptions_create" course_uid=course.uid %}?course={{ COURSE.uid }}&numero={{ instance.numero }}">{% trans "Inscription" %}</a><br />
                                            {% endif %}
                                            <p>
                                                {% blocktrans with fermeture=course.date_fermeture %}Fermeture des inscriptions le {{ fermeture }}{% endblocktrans %}<br />
                                            </p>
                                            {% else %}
                                            <p>
                                                {% blocktrans with ouverture=course.date_ouverture %}Ouverture des inscriptions le {{ ouverture }}{% endblocktrans %}<br />
                                            </p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

