{% load stripe %}
{% load i18n %}
<script>window.STRIPE_KEY="{{ COURSE.stripe_public|escapejs }}"</script>
<script src="https://js.stripe.com/v3/"></script>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal" id="stripe-btn">
    Payer par carte{% if instance.reste_a_payer %} {% if not COURSE.frais_stripe_inclus %}{{ instance.reste_a_payer|prix_stripe|floatformat:2 }}{% else %}{{ instance.reste_a_payer }}{% endif %}€{% endif %}
</button>

{% if not COURSE.frais_stripe_inclus %}
<p>{% blocktrans with frais=instance.reste_a_payer|frais_stripe|floatformat:2 %}Pour tout paiement par carte bancaire, {{ frais }} € de frais seront ajoutés.{% endblocktrans %}{% blocktrans %}Ces frais correspondent aux frais de transaction du prestataire de paiement Stripe.{% endblocktrans %}</p>
{% endif %}

<form action="/charge" method="post" id="payment-form">
    {% csrf_token %}
<div class="modal" tabindex="-1" role="dialog" id="paymentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paiement par carte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="">Carte</label>
                <div id="card-number"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Date d'expiration</label>
                <div id="card-expiry"></div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Code CVC</label>
                <div id="card-cvc"></div>
            </div>
        </div>
        <div class="error" role="alert"></div>
        <p>{% blocktrans with organisateur=COURSE.organisateur %}Les informations de paiements sont transférées au prestataire de paiement <a href="https://stripe.com" target="_blank">Stripe</a> via une connexion sécurisée. Ni {{ organisateur }}, ni enduroller n'ont accès à ces informations.{% endblocktrans %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            Payer
            <i class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</form>

<div class="modal" tabindex="-1" role="dialog" id="paymentModal2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paiement par carte reçu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Votre paiement par carte a été enregistré. Il est en cours de traitement par le prestataire de paiement Stripe. Votre inscription est enregistrée, vous pouvez fermer cette fenêtre.</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<script>
'use strict';

var stripe = Stripe(window.STRIPE_KEY);

function registerElements(elements) {
  var formClass = '#payment-form';
  var form = document.querySelector(formClass);

  var error = form.querySelector('.error');

  function enableInputs() {
    Array.prototype.forEach.call(
      form.querySelectorAll(
        "input[type='text'], input[type='email'], input[type='tel']"
      ),
      function(input) {
        input.removeAttribute('disabled');
      }
    );
  }

  function disableInputs() {
    Array.prototype.forEach.call(
      form.querySelectorAll(
        "input[type='text'], input[type='email'], input[type='tel']"
      ),
      function(input) {
        input.setAttribute('disabled', 'true');
      }
    );
  }

  function triggerBrowserValidation() {
    // The only way to trigger HTML5 form validation UI is to fake a user submit
    // event.
    var submit = document.createElement('input');
    submit.type = 'submit';
    submit.style.display = 'none';
    form.appendChild(submit);
    submit.click();
    submit.remove();
  }

  // Listen for errors from each Element, and show error messages in the UI.
  var savedErrors = {};
  elements.forEach(function(element, idx) {
    element.on('change', function(event) {
      if (event.error) {
        error.classList.add('visible');
        savedErrors[idx] = event.error.message;
        error.innerText = event.error.message;
      } else {
        savedErrors[idx] = null;

        // Loop over the saved errors and find the first one, if any.
        var nextError = Object.keys(savedErrors)
          .sort()
          .reduce(function(maybeFoundError, key) {
            return maybeFoundError || savedErrors[key];
          }, null);

        if (nextError) {
          // Now that they've fixed the current error, show another one.
          error.innerText = nextError;
        } else {
          // The user fixed the last error; no more errors.
          error.classList.remove('visible');
        }
      }
    });
  });

  // Listen on the form's 'submit' handler...
  form.addEventListener('submit', function(e) {
    e.preventDefault();

    // Trigger HTML5 validation UI on the form if any of the inputs fail
    // validation.
    var plainInputsValid = true;
    Array.prototype.forEach.call(form.querySelectorAll('input'), function(
      input
    ) {
      if (input.checkValidity && !input.checkValidity()) {
        plainInputsValid = false;
        return;
      }
    });
    if (!plainInputsValid) {
      triggerBrowserValidation();
      return;
    }

    // Show a loading screen...
    form.classList.add('submitting');

    // Disable all inputs.
    disableInputs();

    // Use Stripe.js to create a token. We only need to pass in one Element
    // from the Element group in order to create a token. We can also pass
    // in the additional customer data we collected in our form.
    stripe.createToken(elements[0], {}).then(function(result) {
    // Stop loading!

    if (result.token) {
        // If we received a token, show the token ID.
        var csrfToken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax('{% url "inscriptions_stripe_paiement" course_uid=COURSE.uid %}?equipe={{ instance.numero }}', {
            method: 'POST',
            data: { 
                csrfmiddlewaretoken: csrfToken,
                token: result.token.id,
            },
            success: function() { 
                form.classList.remove('submitting');
                $('#stripe-btn').text('Paiement par carte en attente de validation').attr('disabled', true);
                $('#paymentModal').modal('hide');
                $('#paymentModal2').modal('show');
                setInterval(function() {
                    $.ajax('{% url "inscriptions_equipe_payee" course_uid=COURSE.uid numero=instance.numero %}', {
                        method: 'GET',
                        success: function(r) {
                            var data = JSON.parse(r);
                            if (data.success) location.reload(true);
                        }
                    });
                }, 5000);
            }
        });
        form.classList.add('submitted');
    } else {
        // Otherwise, un-disable inputs.
        form.classList.remove('submitting');
        enableInputs();
    }
    });
  });
}

(function() {
  'use strict';

  var elements = stripe.elements({
    fonts: [
      {
        cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro',
      },
    ],
    locale: 'auto',
  });

  var elementStyles = {
    base: {
      color: '#32325D',
      fontWeight: 500,
      fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
      fontSize: '16px',
      fontSmoothing: 'antialiased',

      '::placeholder': {
        color: '#CFD7DF',
      },
      ':-webkit-autofill': {
        color: '#e39f48',
      },
    },
    invalid: {
      color: '#E25950',

      '::placeholder': {
        color: '#FFCCA5',
      },
    },
  };

  var elementClasses = {
    focus: 'focused',
    empty: 'empty',
    invalid: 'invalid',
  };

  var cardNumber = elements.create('cardNumber', {
    style: elementStyles,
    classes: elementClasses,
  });
  cardNumber.mount('#card-number');

  var cardExpiry = elements.create('cardExpiry', {
    style: elementStyles,
    classes: elementClasses,
  });
  cardExpiry.mount('#card-expiry');

  var cardCvc = elements.create('cardCvc', {
    style: elementStyles,
    classes: elementClasses,
  });
  cardCvc.mount('#card-cvc');

  registerElements([cardNumber, cardExpiry, cardCvc]);
})();
</script>

