{% load stripe %}
{% load i18n %}
{% load sekizai_tags %}
<script>window.STRIPE_KEY="{{ COURSE.stripe_public|escapejs }}"</script>
<script src="https://js.stripe.com/v3/"></script>

<button type="button" class="btn btn-primary btn-lg" id="stripe-btn">
    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
    Payer par carte{% if instance.reste_a_payer %} {% if not COURSE.frais_stripe_inclus %}{{ instance.reste_a_payer|prix_stripe|floatformat:2 }}{% else %}{{ instance.reste_a_payer }}{% endif %}€{% endif %}
</button>

{% if not COURSE.frais_stripe_inclus %}
<p>{% blocktrans with frais=instance.reste_a_payer|frais_stripe|floatformat:2 %}Pour tout paiement par carte bancaire, {{ frais }} € de frais seront ajoutés.{% endblocktrans %}{% blocktrans %}Ces frais correspondent aux frais de transaction du prestataire de paiement Stripe.{% endblocktrans %}</p>
{% endif %}

<form action="/charge" method="post" id="payment-form">
    {% csrf_token %}
<div class="modal" tabindex="-1" role="dialog" id="paymentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paiement par carte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="">Carte</label>
                <div id="card-number"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Date d'expiration</label>
                <div id="card-expiry"></div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Code CVC</label>
                <div id="card-cvc"></div>
            </div>
        </div>
        <div class="error" role="alert"></div>
        <p>{% blocktrans with organisateur=COURSE.organisateur %}Les informations de paiements sont transférées au prestataire de paiement <a href="https://stripe.com" target="_blank">Stripe</a> via une connexion sécurisée. Ni {{ organisateur }}, ni enduroller n'ont accès à ces informations.{% endblocktrans %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            Payer
            <i class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</form>

<div class="modal" tabindex="-1" role="dialog" id="paymentModal2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paiement par carte reçu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Votre paiement par carte a été enregistré. Il est en cours de traitement par le prestataire de paiement Stripe. Votre inscription est enregistrée, vous pouvez fermer cette fenêtre.</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% addtoblock "js" %}
<script>
'use strict';


const stripe = Stripe(window.STRIPE_KEY);
$('#stripe-btn').click(async () => {
    try {
        const response = await fetch('{% url "inscriptions_intent_paiement" course_uid=COURSE.uid methode="stripe" %}?equipe={{ instance.numero }}');
        const { client_secret: clientSecret } = await response.json();
        $('#paymentModal').modal('show');

        const { cardNumber, cardExpiry, cardCvc } = createElements();


        const formClass = '#payment-form';
        const form = document.querySelector(formClass);
        form.addEventListener('submit', async function(e) {
            try {
                e.preventDefault();

                form.classList.add('submitting');

                // Disable all inputs.
                disableInputs();
                
                const {paymentIntent, error} = await stripe.handleCardPayment(
                    clientSecret, cardNumber, {}
                );

                if (error) {
                    console.log(error);
                    const errorEl = form.querySelector('.error');
                    errorEl.classList.add('visible');
                    errorEl.innerText = error.message;
                    enableInputs();
                    form.classList.remove('submitting');
                } else {
                    form.classList.add('submitted');
                    checkPaiement();
                }
            } catch (err) {
                console.error(err);
                enableInputs();
                form.classList.remove('submitting');
            }
        });
    } catch(err) {
        console.error(err);
    }
});

function enableInputs() {
    $("input[type='text'], input[type='email'], input[type='tel']").removeAttr('disabled');
}

function disableInputs() {
    $("input[type='text'], input[type='email'], input[type='tel']").attr('disabled', true);
}

const createElements = () => {
    'use strict';

    var elements = stripe.elements({
        fonts: [{
            cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro',
        }],
        locale: 'auto',
    });

    const options = {
        style: {
            base: {
                color: '#32325D',
                fontWeight: 500,
                fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
                fontSize: '16px',
                fontSmoothing: 'antialiased',
                '::placeholder': { color: '#CFD7DF' },
                ':-webkit-autofill': { color: '#e39f48', },
            },
            invalid: {
                color: '#E25950',
                '::placeholder': { color: '#FFCCA5' },
            },
        },
        classes: {
            focus: 'focused',
            empty: 'empty',
            invalid: 'invalid',
        },
    };

    var cardNumber = elements.create('cardNumber', options);
    cardNumber.mount('#card-number');

    var cardExpiry = elements.create('cardExpiry', options);
    cardExpiry.mount('#card-expiry');

    var cardCvc = elements.create('cardCvc', options);
    cardCvc.mount('#card-cvc');

    return { cardNumber, cardExpiry, cardCvc }
};

const checkPaiement = () => {
    var csrfToken = $("[name=csrfmiddlewaretoken]").val();

    $('#stripe-btn').text('Paiement par carte en attente de validation').attr('disabled', true);
    $('#paymentModal').modal('hide');
    $('#paymentModal2').modal('show');
    setInterval(async function() {
        const response = await fetch('{% url "inscriptions_equipe_payee" course_uid=COURSE.uid numero=instance.numero %}');
        const data = await response.json();
        if (data.success) {
            location.reload(true);
        }
    }, 5000);
}
</script>
{% endaddtoblock %}

