<html>
    <head>
        <script>window.print();</script>
    </head>
    <body>
        <h1>AUTORISATION PARENTALE</h1>
        <p>Je soussigné(e) </p>
        <p>Madame, Monsieur (Nom et Prénom) : ................................................</p>
        <p>Autorise mon enfant (Nom et Prénom) : .................................................................</p>
        <p>a participer aux {{ COURSE.nom }}, le {{ COURSE.date }}</p>
        <p>Mon enfant sera sous la responsabilité de Madame, Monsieur (Nom et Prénom) : ................................................</p>
        <p>qui sera autorisé à prendre, en cas d’accident, toute mesure dictée par l’urgence. </p>
        <p>Téléphone portable : ................................................</p>
        <p>Fait à ................................................, </p>
        <p>le ................................................, </p>
        <p>Signature</p>
    </body>
</html>
