{% extends "site_base.html" %}
{% load i18n %}
{% load l10n %}
{% block body %}
<div class="jumbotron">
    <div class="media">
        <div class="media-left">
            <img src="{{ MEDIA_URL }}{{ COURSE.logo }}" align="left" width="100" class="visible-xs"/>
            <img src="{{ MEDIA_URL }}{{ COURSE.logo }}" align="left" width="200" class="hidden-xs"/>
        </div>
        <div class="media-body">
            <h2>{% trans 'Votre inscription est enregistrée' %}</h2>
            <p>
                <table class="table">
                    <tr><th>{% trans "Equipe :" %}</th><td>{{ instance.nom }}</td></tr>
                    <tr><th>{% trans "Dossard :" %}</th><td>{{ instance.numero }}</td></tr>
                    <tr><th>{% trans "Categorie :" %}</th><td>{{ instance.categorie.code }} - {{ instance.categorie.nom }}</td></tr>
                    <tr><th>{% trans "Prix :" %}</th><td>
                        {% if instance.facture|length == 1 %}
                        {{ instance.prix }} €
                        {% else %}
                        <table class="table">
                            <tr>
                                <th>{% trans "Quantité" %}</th>
                                <th>{% trans "Label" %}</th>
                                <th>{% trans "Prix unitaire" %}</th>
                                <th>{% trans "Prix" %}</th>
                            </tr>{% for line in instance.facture %}
                            <tr>
                                <td>{{ line.quantite }}</td>
                                <td>{{ line.label }}</td>
                                <td>{{ line.prix_unitaire }} €</td>
                                <td>{{ line.prix }} €</td>
                            </tr>
                            {% endfor %}
                            <tr><th colspan="3">Total: </th><td>{{ instance.prix }} €</td></tr>
                        </table>
                        {% endif %}
                    </td></tr>

                </table>
            </p>
            {% if create %}
            <p>{% trans 'Un email de confirmation vient de vous être envoyé.' %}</p>>
            {% endif %}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Paiement :" %}</h3>
    </div>
    <div class="panel-body">
        {% if request.GET.code == 'succeeded' %}
        <p>{% blocktrans with prix=instance.montant_paiements %}Votre réglement des frais d'inscription ({{ prix }} €) est en attente de validation. Vous recevrez un email de confirmation rapidement{% endblocktrans %}</p>
        <script> setTimeout(() => location.href = location.href.split('?')[0], 5000)</script>
        {% else %}{% if not instance.paiement_complet %}
        {% if COURSE.paiement_internet %}
        <p>{% trans 'Pour régler votre inscription vous pouvez payer par internet :' %}</p>

        {% if COURSE.paypal %}{% include "_paypal.html" %}{% endif %}
        {% if COURSE.stripe_public %}{% include "_stripe.html" %}{% endif %}
        {% if COURSE.helloasso_organisation %}{% include "_helloasso.html" %}{% endif %}

        <p>{% blocktrans with prix=instance.reste_a_payer ordre=COURSE.ordre %}Ou envoyer un chèque de {{ prix }} € à l'ordre de "{{ ordre }}".{% endblocktrans %}</p>
        {% else %}
        <p>{% blocktrans with prix=instance.reste_a_payer ordre=COURSE.ordre %}Pour régler votre inscription vous pouvez envoyer un chèque de {{ prix }} € à l'ordre de "{{ ordre }}".{% endblocktrans %}</p>
        {% endif %}
        <p>{% blocktrans with date=instance.date_annulation %}Envoyez votre paiement avant le {{ date }}. Si nous n'avons pas reçu votre paiement à cette date, votre inscription sera annulée.{% endblocktrans %}</p>
        {% else %}
        <p>{% blocktrans with prix=instance.montant_paiements %}Vos frais d'inscription ({{ prix }} €) ont bien été reçus.{% endblocktrans %}</p>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Documents :" %}</h3>
    </div>
    <div class="panel-body">
        {% if instance.licence_manquantes or instance.certificat_manquantes or instance.autorisation_manquantes %}
            {% if instance.licence_manquantes %}
            <div class="clearfix">
                {% trans 'Il manque les licences de :' %} <ul>
                {% for e in instance.licence_manquantes %}
                <li>{{ e.prenom }} {{ e.nom }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if instance.certificat_manquantes %}
            <div class="clearfix">
                {% blocktrans with course_uid=COURSE.uid %}Il manque les certificats médicaux de (<a href="/{{ course_uid }}/model/certificat/" target="_blank">modèle</a>):{% endblocktrans %}<ul>
                {% for e in instance.certificat_manquantes %}
                <li>{{ e.prenom }} {{ e.nom }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if instance.autorisation_manquantes %}
            <div class="clearfix">
                {% blocktrans with course_uid=COURSE.uid %}Il manque les autorisations parentales (<a href="/{{ course_uid }}/model/autorisation/" target="_blank">modèle</a>) :{% endblocktrans %}<ul>
                {% for e in instance.autorisation_manquantes %}
                <li>{{ e.prenom }} {{ e.nom }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% else %}
        <p>{% trans "Il ne manque aucun document." %}</p>
        {% endif %}
    </div>
</div>

{% if not instance.paiement or instance.licence_manquantes or instance.certificat_manquantes or instance.autorisation_manquantes %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Instructions :" %}</h3>
    </div>
    <div class="panel-body">
        <p>{% trans 'Vous pouvez envoyer le paiement et les justificatifs à' %} </p>
        <pre>{{ COURSE.adresse }}</pre>
        <p>{% blocktrans with numero=instance.numero %}En précisant le nom de votre équipe et le numéro d'inscription <b>{{ numero }}</b>.{% endblocktrans %}</p>
    </div>
</div>
{% endif %}

{% for ec in instance.challenges.all %}
    {% include "_participation.html" with participation=ec.participation challenge=ec.participation.challenge %}
{% endfor %}
                

{% endblock %}
