{% load i18n %}
<style>
    @page  { 
        size: A4 portrait;
        margin: 15mm;
    } 
    body  { margin: 0px;  } 
    #adresse {
        float: left;
        width: 40%;
    }
    #date {
        float: right;
        width: 40%;
        text-align: right;
    }

    #content {
        clear: both;
        margin-top: 2cm;
    }
    h1 {
        text-align: center;
        font-size: 20pt;
    }
</style>

<div id="adresse">
    {{ instance.course.club }}<br />
    {{ instance.course.adresse|linebreaks }}<br />
    Email: {{ instance.course.email_contact }}
</div>
<div id="date">
    {{ instance.course.ville }}, le {{ instance.date_facture }}
</div>

<div id="content">

    <h1>FACTURE {{ instance.course.uid }}-{{ instance.numero }}</h1>

    {{ instance.gerant_prenom }} {{ instance.gerant_nom }}<br />
    {{ instance.club }}<br />
    {{ instance.gerant_adresse1 }}<br />
    {% if instance.gerant_adress2 %}{{ instance.gerant_adress2 }}<br />{% endif %}
    {{ instance.gerant_code_postal }} {{ instance.gerant_ville }}<br />
    {{ instance.gerant_pays }}<br />
    <br />
    Inscription {{ instance.course.nom }}, le {{ instance.course.date }}<br />
    <br />
    Equipe : {{ instance.numero }}<br />
    {{ instance.nom }}<br />
                        <table class="table">
                            <tr>
                                <th>{% trans "Quantité" %}</th>
                                <th>{% trans "Label" %}</th>
                                <th>{% trans "Prix unitaire" %}</th>
                                <th>{% trans "Prix" %}</th>
                            </tr>{% for line in instance.facture %}
                            <tr>
                                <td>{{ line.quantite }}</td>
                                <td>{{ line.label }}</td>
                                <td>{{ line.prix_unitaire }} €</td>
                                <td>{{ line.prix }} €</td>
                            </tr>
                            {% endfor %}
                            <tr><th colspan="3">Total: </th><td>{{ instance.prix }} €</td></tr>
                            {% for paiement in instance.paiements.all %}
                            {% if paiement.montant_frais %}
                            <tr>
                                <td></td>
                                <td>Frais {{ paiement.paiement.type }}</td>
                                <td>{{ paiement.montant_frais }} €</td>
                                <td>{{ paiement.montant_frais }} €</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
    {% if instance.paiement_complet %}Facture acquittée{% endif %}<br />
    <br />
    
    <br />
    TVA non applicable article 293B du CGI<br />
    
</div>
