{% extends "site_base.html" %}
{% load i18n %}

{% block body_class %}home{% endblock %}

{% block body %}

{% for course in prochaines_courses %}
{% if forloop.first %}
    <section class="container">
      <h1>{% trans "Prochaines courses" %}</h1>
      <div class="row equal">{% endif %}
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ course.url }}" style="background: url({{ MEDIA_URL }}{{ course.logo }}) no-repeat 50% 50%; background-size: contain; height: 200px; width: 100%; display: block"></a>
                <div class="caption">
                    <h3><a href="{{ course.url }}">{{ course.nom }}</a></h3>
                    <p>
                        {% blocktrans with date=course.date ville=course.ville %}le {{date }} à {{ ville }}{% endblocktrans %}<br />
                        {% blocktrans with organisateur=course.organisateur %}Organisé par {{ organisateur }}.{% endblocktrans %}
                    </p>
                    {% if course.ouverte %}
                    <a class="btn btn-lg btn-block {% if course.fermee %}btn-default disabled{% else %}btn-primary{% endif %}" role="button" href="{% url "inscriptions_create" course_uid=course.uid %}">{% trans "Inscription" %}</a><br />
                    {% endif %}
                    {% if course.ouverte %}
                    <p>
                        {% blocktrans with fermeture=course.date_fermeture %}Fermeture des inscriptions le {{ fermeture }}{% endblocktrans %}<br />
                        <a href="{% url "inscriptions_list" course_uid=course.uid %}">{% trans "Liste des inscrits" %}</a><br />
                        <a href="{% url "inscriptions_stats" course_uid=course.uid %}">{% trans "Statistiques" %}</a><br />
                    </p>
                    {% else %}
                    <p>
                        {% blocktrans with ouverture=course.date_ouverture %}Ouverture des inscriptions le {{ ouverture }}{% endblocktrans %}<br />
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% if forloop.last %}
      </div>
    </section>
    {% endif %}
{% endfor %}

{% for course in anciennes_courses %}
{% if forloop.first %}
    <section class="container">
      <h1>{% trans "Anciennes courses" %}</h1>
      <div class="row">{% endif %}
        <div class="col-md-4">
          <h2>{{ course.nom }}</h2>
          <p>
            {% blocktrans with date=course.date ville=course.ville %}le {{date }} à {{ ville }}{% endblocktrans %}<br />
            <a href="{{ course.url }}">{% trans "Site de la course" %}</a>
            <a href="{% url "inscriptions_list" course_uid=course.uid %}">{% trans "Liste des inscrits" %}</a><br />
            <a href="{% url "inscriptions_stats" course_uid=course.uid %}">{% trans "Statistiques" %}</a><br />
            <a href="{% url "inscriptions_resultats" course_uid=course.uid %}">{% trans "Résultats" %}</a>
          </p>
        </div>
{% if forloop.last %}
        </div>
    </section>
{% endif %}
{% endfor %}
            
<section class="jumbotron">
    <h2>Organisateurs de course</h2>
    <p>
        Gérez les inscriptions à votre course. Paramétrez votre course, etc...
    </p>
    <p><a class="btn btn-primary btn-lg" href="{% url "orga" %}" role="button">Accéder à la section organisateurs</a></p>
</section>

{% endblock %}
