{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
    <div class="jumbotron">
        <div class="media">
            <div class="media-left">
                <img src="{{ MEDIA_URL }}{{ COURSE.logo }}" align="left" width="100" class="visible-xs"/>
                <img src="{{ MEDIA_URL }}{{ COURSE.logo }}" align="left" width="200" class="hidden-xs"/>
            </div>
            <div class="media-body">
                <h2>{{ COURSE.nom }}</h2>
                <p>
                    {% blocktrans with date=COURSE.date ville=COURSE.ville %}le {{date }} à {{ ville }}{% endblocktrans %}<br />
                    {% blocktrans with organisateur=COURSE.organisateur %}Organisé par {{ organisateur }}.{% endblocktrans %}<br />
                </p>
                <ul class="nav nav-pills">
                    {% if not COURSE.fermee %}
                    <li role="presentation"><a href="{% url "inscriptions_create" course_uid=COURSE.uid %}">{% trans "Inscription" %}</a></li>
                    {% endif %}
                    <li role="presentation"><a href="{{ COURSE.url }}">{% trans "Site de la course" %}</a></li>
                    <li role="presentation"><a href="{{ COURSE.url_reglement }}">{% trans "Règlement" %}</a></li>
                    <li role="presentation" class="active"><a href="{% url "inscriptions_list" course_uid=COURSE.uid %}">{% trans "Liste des inscrits" %}</a></li>
                    <li role="presentation"><a href="{% url "inscriptions_stats" course_uid=COURSE.uid %}">{% trans "Statistiques" %}</a></li>
                    {% for challenge in COURSE.challenges.all %}
                    <li role="presentation"><a href="{% url "inscriptions_challenge" challenge_uid=challenge.uid %}">{{ challenge.nom }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% with categories=COURSE.categories.all %}
    {% include "_list_filter.html" %}
    {% endwith %}
    <script>
        var nbcomplet = 0;
    </script>
    <div class="panel panel-default">
        <div class="panel-heading">Inscrits</div>
        <div class="panel-body">
            <table class="list_inscrits">
            {% for equipe in equipes %}
            {% if split_categories %}
                {% ifchanged equipe.categorie %}
                <tr><th colspan="6">{{ equipe.categorie.code }} - {{ equipe.categorie.nom }}</th></tr>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Club</th>
                    <th>Cat.</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    {% if user_is_staff %}
                    <th>☺</th>
                    <th>Date</th>
                    <th>€</th>
                    <th><img alt="None" src="/static/admin/img/icon-yes.gif"></th>
                    {% endif %}
                </tr>
                {% endifchanged %}
            {% else %}
                {% if forloop.first %}
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Club</th>
                    <th>Cat.</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    {% if user_is_staff %}
                    <th>☺</th>
                    <th>Date</th>
                    <th>€</th>
                    <th><img alt="None" src="/static/admin/img/icon-yes.gif"></th>
                    {% endif %}
                </tr>
                {% endif %}
            {% endif %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ equipe.numero }}</td>
                    <td>{{ equipe.nom }}</td>
                    <td>{{ equipe.club }}</td>
                    <td>{{ equipe.categorie.code }}</td>
                    <td>{{ equipe.gerant_ville2.nom }}</td>
                    <td><img src="/static/flags/{{ equipe.gerant_pays|lower }}.png" alt="{{ equipe.gerant_pays.name }}" /></td>
                    {% if user_is_staff %}
                    <td>{{ equipe.nombre }}</td>
                    <td>{{ equipe.date }}</td>
                    <td>{{ equipe.prix }}€ {% if equipe.paiement_complet %}<img alt="None" src="/static/admin/img/icon-yes.gif">{% endif %}</td>
                    <td>
                        {% if equipe.dossier_complet_auto %}<img alt="None" src="/static/admin/img/icon-yes.gif">{% endif %}
                        <script>
                            nbcomplet += {{ equipe.dossier_complet_auto|yesno:"1,0,0" }};
                        </script>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">{{ stats.count }} inscriptions</td>
                    <td>{{ stats.club }} clubs</td>
                    <td></td>
                    <td>{{ stats.villes }} villes</td>
                    <td>{{ stats.pays }} pays</td>
                    {% if user_is_staff %}
                    <td>{{ stats.equipiers }}</td>
                    <td colspan="2" style="text-align: right;">{{ stats.paiement }}€ / {{ stats.prix }}€ ({{ stats.nbpaye }}<img alt="None" src="/static/admin/img/icon-yes.gif">)</td>
                    <td><script>document.write(nbcomplet);</script><img alt="None" src="/static/admin/img/icon-yes.gif"></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            Note: Le nom et le placement des villes est determinée par une recherche automatique. Il est possible que le resultat de cette recherche soit erronné. Votre inscription est prise en compte avec la bonne ville même si ce n'est pas affiché correctement dans cette liste. Contactez nous si vous voyez une erreur que vous souhaitez corriger.
        </div>
    </div>
{% endblock %}
