{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<div class="jumbotron">
    <div class="media">
        <div class="media-left">
            <img src="{{ MEDIA_URL }}{{ COURSE.logo }}" align="left" width="200" />
        </div>
        <div class="media-body">
            <h2>{% trans "Cette inscription est vérouillée. Vous ne pouvez pas la modifier." %}</h2>
            {% url "contact" course_uid=COURSE.uid as url_contact %}
            <p>{% blocktrans %}Si vous avez des modifications à faire, veuillez <a href="{{ url_contact }}">contacter l'oganisateur de la course</a>.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
