{% extends "site_base.html" %}
{% load i18n %}
{% load duree %}

{% block body %}
    {% with categories=COURSE.categories.all page="resultats" %}
    {% include "_course_header.html" %}
    {% endwith %}
    <div class="panel panel-default">
        <div class="panel-heading">Resultats</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <th>Numéro :</th><td>{{ equipe.numero }}</td>
                        <tr>
                        </tr>
                            <th>Nom :</th><td>{{ equipe.nom }}</td>
                        <tr>
                            {% if equipe.club %}
                        </tr>
                            <th>Club :</th><td>{{ equipe.club }}</td>
                        <tr>
                            {% endif %}
                        </tr>
                            <th>Catégorie :</th><td>{{ equipe.categorie.nom }} ({{ equipe.categorie.code }})</td>
                        <tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        </tr>
                            <th>Position générale :</th><td>{{ equipe.position_generale }}</td>
                        <tr>
                        </tr>
                            <th>Position catégorie :</th><td>{{ equipe.position_categorie }}</td>
                        <tr>
                        </tr>
                            <th>Nombre de tours :</th><td>{{ equipe.tours }}</td>
                        <tr>
                        </tr>
                            <th>Temps total:</th><td>{{ equipe.temps|duree }}</td>
                        <tr>
                        </tr>
                            <th>Distance parcourue :</th><td>{{ equipe.distance|floatformat }} km</td>
                        <tr>
                        </tr>
                            <th>Vitesse moyenne :</th><td>{{ equipe.vitesse|floatformat }} km/h</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if tours.count %}
    <div class="panel panel-default">
        <div class="panel-heading">Équipiers</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Dossard</th>
                    <th>Nom</th>
                    <th>Tours</th>
                    <th>Distance</th>
                    <th>Vitesse moy.</th>
                    <th>Durée totale</th>
                    <th>Meilleur temps</th>
                </tr>
                {% for equipier in equipiers %}
                <tr class="equipier{{ equipier.numero }} {{ equipier.numero|choose:"danger,success,warning,info,primary" }}">
                    <td>{{ equipier.dossard }}</td>
                    <td>{{ equipier.prenom }} {{ equipier.nom }}</td>
                    <td>{{ equipier.tours_info.count }}</td>
                    <td>{{ equipier.distance|floatformat }} km</td>
                    <td>{{ equipier.vitesse|floatformat }} km/h</td>
                    <td>{{ equipier.tours_info.duree|duree }}</td>
                    <td>{{ equipier.tours_info.best|duree }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Tours</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        {% for tour in tours %}
                        <tr class="equipier{{ tour.equipier.numero }} {{ tour.equipier.numero|choose:"danger,success,warning,info,primary" }}">

                            <th>{{ forloop.counter }}</th>
                            <td>{{ tour.duree|duree }}</td>
                        </tr>
                        {% with forloop.counter0|mod3:tours.count as break %}{% if break %}
                    </table>
                </div>
                <div class="col-md-3">
                    <table class="table">
                        {% endif %}{% endwith %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
