{% extends "site_base.html" %}
{% load i18n %}
{% load stats %}

{% block body %}
    {% with categories=challenge.categories.all %}
    {% include "_list_filter.html" %}
    {% endwith %}
    <div class="panel panel-default">
        <div class="panel-heading">Resultats</div>
        <div class="panel-body">
            <table class="table table-striped" style="width: 100%">
            {% for participation in participations %}
            {% if split_categories %}
                {% ifchanged participation.categorie %}
                    <tr><th colspan="7">{{ participation.categorie.code }} - {{ participation.categorie.nom }}</th></tr>
                    <tr>
                        <th>Nom</th>
                        <th>Cat.</th>
                        <th>Pos.</th>
                        <th>Courses</th>
                        {% for c in challenge.courses.all %}
                        <th>{{ c.uid }}</th>
                        {% endfor %}
                        {% if challenge.mode == 'nord2018' %}<th>Distance</th>{% endif %}
                        <th>Points</th>
                    </tr>
                {% endifchanged %}
            {% else %}
                {% if forloop.first %}
                    <tr>
                        <th>Nom</th>
                        <th>Cat.</th>
                        <th>Pos.</th>
                        <th>Courses</th>
                        {% for c in challenge.courses.all %}
                        <th>{{ c.uid }}</th>
                        {% endfor %}
                        {% if challenge.mode == 'nord2018' %}<th>Distance</th>{% endif %}
                        <th>Points</th>
                    </tr>
                {% endif %}
            {% endif %}
                <tr data-toggle="popover" data-trigger="click" title="Détails" data-placement="bottom" data-content="
                    <table style=&quot;width: 100%&quot; class=&quot;table table-striped&quot;>
                        <tr>
                            <th>{% trans "Course" %}</th>
                            <th>{% trans "#" %}</th>
                            <th>{% trans "Générale" %}</th>
                            <th>{% trans "Cat." %}</th>
                            <th>{% trans "Points" %}</th>
                            <th>{% trans "Position" %}</th>
                            <th>{% trans "Tours" %}</th>
                            <th>{% trans "Temps" %}</th>
                            {% if challenge.mode == 'nord2018' %}<th>Distance</th>{% endif %}
                        </tr>{% for c in challenge.courses.all %}{% with e=participation.equipes_dict|get:c.uid %}
                        <tr>
                            <th>{{ c.nom }}</th>
                            <td>{{ e.equipe.numero|default_if_none:"" }}</td>
                            <td>{{ e.equipe.position_generale|default_if_none:"" }}</td>
                            <td>{{ e.equipe.categorie|default_if_none:"" }}</td>
                            <td>{{ e.points|default:"" }}</td>
                            <td>{{ e.equipe.position_categorie|default_if_none:"" }}</td>
                            <td>{{ e.equipe.tours|default_if_none:"" }}</td>
                            <td>{{ e.equipe.temps_humain|default_if_none:"" }}</td>
                            {% if challenge.mode == 'nord2018' %}<td>{{ e.equipe.distance|default_if_none:"" }}</td>{% endif %}
                        </tr>{% endwith %}{% endfor %}
                    </table>
                    <table style=&quot;width: 100%&quot; class=&quot;table table-striped&quot;>
                        <tr>
                            <th>{% trans "Équipier" %}</th>
                            {% for c in challenge.courses.all %}
                            <th>{{ c.uid }}</th>
                            {% endfor %}
                        </tr>{% for e in participation.equipiers.all %}
                        <tr>
                            <th>{{ e.prenom }} {{ e.nom }}</th>
                            {% for c in challenge.courses.all %}
                            {% if c in e.courses %}<td class=&quot;{% cycle "bg-info" "bg-success" "bg-success" "bg-success" "bg-success" "bg-success" "bg-success" "bg-success" "bg-success" "bg-success" %}&quot;></td>
                            {% else %}<td></td>
                            {% endif %}{% endfor %}{% resetcycle %}
                        </tr>{% endfor %}
                    </table>
                            

                    ">
                    <td><a href="{{ participation.id }}/">{{ participation.nom }}</a></td>
                    <td>{{ participation.categorie.code }}</td>
                    <td>{{ participation.position|default_if_none:"" }}</td>
                    <td>{{ participation.count }}</td>
                    {% for c in challenge.courses.all %}
                    <td {% if not participation.equipes_dict|get:c.uid %}class="bg-info"{% endif %}>{% if participation.equipes_dict|get:c.uid %}{{ participation.equipes_dict|get:c.uid|get:"points"|default:"Inscrit" }}{% endif %}</td>
                    {% endfor %}
                    {% if challenge.mode == 'nord2018' %}<td>{{ participation.distance|default_if_none:"" }}</td>{% endif %}
                    <td>{{ participation.points }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
