{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block site_brand %}
<a class="navbar-brand" href="{% url "home" %}">Enduroller</a>
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li{% if request.resolver_match.url_name == "home" %} class="active"{% endif %}><a href="{% url "home" %}">{% trans "Courses" %}</a></li>
        <li{% if request.resolver_match.url_name == "inscriptions.challenges" %} class="active"{% endif %}><a href="{% url "inscriptions.challenges" %}">{% trans "Challenges" %}</a></li>
        <li{% if request.resolver_match.url_name == "orga" %} class="active"{% endif %}><a href="{% url "orga" %}">{% trans "Organisateurs" %}</a></li>
    </ul>
{% endblock %}

{% block account_bar %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
