{% extends "site_base.html" %}
{% load i18n %}
{% load l10n %}
{% load stats %}

{% block scripts %}
    {% include "stats/_scripts.html" %}
    <script>
        const urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                        .exec(window.location.search);
            return (results !== null) ? results[1] || 0 : false;
        };

        const data = urlParam('data') || 'equipes';
        const align = urlParam('align') || 'course';
        const stats = [{% for d in data %}{{ d.json|safe }}{% if not forloop.last %},{% endif %}{% endfor %}];

        const min = Math.min({% for d in data %}{{ d.delta }}{% if not forloop.last %},{% endif %}{% endfor %});
        const max = Math.max({% for d in data %}{{ d.stats.jours.keys|get_max }} + {{ d.delta }}{% if not forloop.last %},{% endif %}{% endfor %});
        console.log(min, max);
        const datasets = [];
        let dataset, cumul, labels, color;
        const colors = Object.values(window.chartColors);
        {% for d in data %}
        color = colors.shift();
        dataset = {
            label: '{{ d.course.uid }}',
            fill: false,
            backgroundColor: color,
            borderColor: color,
            data: [],
            pointRadius: 0.5,
        };
        var dataPlot = [];
        cumul = 0;
        labels = [];
        for(var i = min; i < max; i++) {
            if (align === 'course') 
                labels.push(i - {{ d.delta }})
            if (align === 'augment') 
                labels.push(i - {{ d.delta }})
            if (align === 'start') 
                labels.push(i - {{ d.delta }})
            var a = 0;
            if(i - {{ d.delta }} in stats[{{ d.index }}].jours)
                a = stats[{{ d.index }}].jours[i - {{ d.delta }}][data];
            if(i <= {{ d.stats.jours.keys|get_max }} + {{ d.delta }}) {
                cumul += a;
                dataset.data.push(cumul);
            }
        }
        datasets.push(dataset);
        {% endfor %}
        console.log(datasets);
        console.log(labels);
        const offsets = {};
        {% for d in data %}
        offsets['{{ d.course.uid }}'] = {
            date: new Date({{ d.course.date_ouverture.year }}, {{ d.course.date_ouverture.month }} - 1, {{ d.course.date_ouverture.day }} + min - {{ d.delta }}),
        };
        {% endfor %}

        const chart = new Chart('canvas_time', {
            type: 'line',
            data: {
                labels,
                datasets,
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Evolution des inscriptions',
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        title: (data) => {
                            const label = data[0].label;
                            if (align === 'course') 
                                return label + ' jours avant la course';
                            if (align === 'augment') 
                                if (label < 0) 
                                    return label + ' jours avant l\'augmentation des tarifs';
                                else
                                    return label + ' jours après l\'augmentation des tarifs';
                            if (align === 'start') 
                                return label + ' jours après l\'ouverture des inscriptions';
                        },
                        label: (tooltip, data) => {
                            const index = tooltip.datasetIndex;
                            let label = data.datasets[index].label || '';
                            const d = offsets[label].date;
                            d.setDate(d.getDate(index));
                            label += ' au ' + d.toLocaleDateString();
                            label += ' : ' + tooltip.yLabel;
                            return label;
                        },
                    },
                },
                hover: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Jours',
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: data,
                        },
                    }],
                },
            },
        });

    </script>
{% endblock %}

{% block styles %}
{% include "stats/_styles.html" %}
{% endblock %}

{% block body %}
<form id="navbar">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% trans "Equipes" %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Point de comparaison" %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-name="align" data-value="">{% if request.GET.align == "" %}<strong>{% endif %}{% trans "Date de la course" %}{% if request.GET.align == "" %}</strong>{% endif %}</a></li>
            <li><a data-name="align" data-value="augment">{% if request.GET.align == "augment" %}<strong>{% endif %}{% trans "Date d'augmentation" %}{% if request.GET.align == "augment" %}</strong>{% endif %}</a></li>
            <li><a data-name="align" data-value="start">{% if request.GET.align == "start" %}<strong>{% endif %}{% trans "Date d'ouverture" %}{% if request.GET.align == "start" %}</strong>{% endif %}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Données" %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-name="data" data-value="equipes">{% if request.GET.data == "equipes" %}<strong>{% endif %}{% trans "Equipes" %}{% if request.GET.data == "equipes" %}</strong>{% endif %}</a></li>
            <li><a data-name="data" data-value="equipiers">{% if request.GET.data == "equipiers" %}<strong>{% endif %}{% trans "Participants" %}{% if request.GET.data == "equipiers" %}</strong>{% endif %}</a></li>
            <li><a data-name="data" data-value="prix">{% if request.GET.data == "prix" %}<strong>{% endif %}{% trans "Prix" %}{% if request.GET.data == "prix" %}</strong>{% endif %}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<input type="hidden" name="align" value="{{ request.GET.align }}" />
<input type="hidden" name="data" value="{{ request.GET.data }}" />
    <div class="clearfix grid_16" style="margin-bottom: 50px">
        <canvas id="canvas_time"></canvas>
    </div>
{% endblock %}
