{% extends "site_base.html" %}
{% load i18n %}
{% load l10n %}
{% load stats %}

{% block body %}
<form id="navbar">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% trans "Equipes" %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Point de comparaison" %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-name="align" data-value="">{% if request.GET.align == "" %}<strong>{% endif %}{% trans "Date de la course" %}{% if request.GET.align == "" %}</strong>{% endif %}</a></li>
            <li><a data-name="align" data-value="augment">{% if request.GET.align == "augment" %}<strong>{% endif %}{% trans "Date d'augmentation" %}{% if request.GET.align == "augment" %}</strong>{% endif %}</a></li>
            <li><a data-name="align" data-value="start">{% if request.GET.align == "start" %}<strong>{% endif %}{% trans "Date d'ouverture" %}{% if request.GET.align == "start" %}</strong>{% endif %}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Données" %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-name="data" data-value="equipes">{% if request.GET.data == "equipes" %}<strong>{% endif %}{% trans "Equipes" %}{% if request.GET.data == "equipes" %}</strong>{% endif %}</a></li>
            <li><a data-name="data" data-value="equipiers">{% if request.GET.data == "equipiers" %}<strong>{% endif %}{% trans "Participants" %}{% if request.GET.data == "equipiers" %}</strong>{% endif %}</a></li>
            <li><a data-name="data" data-value="prix">{% if request.GET.data == "prix" %}<strong>{% endif %}{% trans "Prix" %}{% if request.GET.data == "prix" %}</strong>{% endif %}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<input type="hidden" name="align" value="{{ request.GET.align }}" />
<input type="hidden" name="data" value="{{ request.GET.data }}" />
    <div class="clearfix grid_16" style="margin-bottom: 50px">
        <canvas id="canvas_time"></canvas>
    </div>
    <div class="clearfix grid_16">
        <canvas id="canvas_time2"></canvas>
    </div>

    <script src="{{ STATIC_URL }}/js-class.js"></script>
    <script src="{{ STATIC_URL }}/bluff-src.js"></script>

    <script>
        const urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                      .exec(window.location.search);
            return (results !== null) ? results[1] || 0 : false;
        };

        var data = urlParam('data') || 'equipes';
        var g = new Bluff.Line('canvas_time', 900);
        g.theme_pastel();
        g.title = '';
        g.tooltips = true;
        g.marker_font_size = 12;
        g.y_axis_increment = { equipes: 10, equipiers: 25, prix: 500 }[data];
        g.hide_dots = true;
        g.line_width = 2;
        var g2 = new Bluff.Bar('canvas_time2', 900);
        g2.theme_pastel();
        g2.title = '';
        g2.tooltips = true;
        g2.marker_font_size = 12;
        g2.y_axis_increment = { equipes: 2, equipiers: 10, prix: 100 }[data];

        var stats = [{% for d in data %}{{ d.json|safe }}{% if not forloop.last %},{% endif %}{% endfor %}];


        var min = Math.min({% for d in data %}{{ d.delta }}{% if not forloop.last %},{% endif %}{% endfor %});
        var max = Math.max({% for d in data %}{{ d.stats.jours.keys|get_max }} + {{ d.delta }}{% if not forloop.last %},{% endif %}{% endfor %});
        var cumul1 = cumul2 = 0;
        console.log(min, max);
        {% for d in data %}
        var dataPlot = [];
        for(var i = min; i < max; i++) {
            var a = 0;
            if(i - {{ d.delta }} in stats[{{ d.index }}].jours)
                a = stats[{{ d.index }}].jours[i - {{ d.delta }}][data];
            if(i <= {{ d.stats.jours.keys|get_max }} + {{ d.delta }}) 
                dataPlot.push(a);
        }
        
        var cumul = 0;
        g.data("{{ d.course.uid }}", dataPlot.map(function(value) { return cumul += value; }));
        g2.data("{{ d.course.uid }}", dataPlot);
        {% endfor %}

        g.labels = {};
        for(var i = min; i < max; i += 7) {
            g.labels[i - min] = max - i;
            {% for d in data %}
            var d1 = new Date({{ d.course.date_ouverture.year }}, {{ d.course.date_ouverture.month }} - 1, {{ d.course.date_ouverture.day }} + i - {{ d.delta }});
            g.labels[i - min] += '<br /><span style="color: ' + g.colors[{{ d.index }}] + '">' + d1.getDate() + '/' + (d1.getMonth() + 1) + '</span>';
            {% endfor %}
        }
        g2.labels = g.labels;

        g.draw();
        g._d.stroke = 'white';
        g._d.stroke_width = 1;
        for(var index in g.labels) {
            var x = g._graph_left + (g.x_increment * index);
            g._d.line(x, g._graph_bottom, x, g._graph_top);
        }

        {% for d in data %}
        g._d.stroke = g._data[{{ d.index }}][2];
        var x = g._graph_left + (g.x_increment * ({{ d.augment }} + {{ d.delta }} - min));
        g._d.line(x, g._graph_bottom, x, g._graph_top);
        {% endfor %}

        var x = g._graph_left + (g.x_increment * ({{ today }} - min));
        g._d.stroke = '#000';
        g._d.line(x, g._graph_bottom, x, g._graph_top);

        g2.draw();
        g2._d.stroke = '#ccc';
        g2._d.stroke_width = 1;
        for(var index in g2.labels) {
            var x = g2._graph_left + (g2.x_increment * index);
            g2._d.line(x, g2._graph_bottom, x, g2._graph_top);
        }

        var x = g2._graph_left + (g2.x_increment * ({{ today }} - min));
        g2._d.stroke = '#000';
        g2._d.line(x, g2._graph_bottom, x, g2._graph_top);


        // var e = document.getElementById('canvas_time').parentNode;
        // var e2 = document.getElementById('canvas_time2').parentNode;
        // e2.style.display = 'none';
        // e.addEventListener('click', function() { e.style.display = 'none', e2.style.display = 'block'; });
        // e2.addEventListener('click', function() { e2.style.display = 'none', e.style.display = 'block'; });
    </script>
{% endblock %}
