{% load stats %}
<style>
    @page  { 
        size: A4;
        margin: 15mm;
    } 
    body  { margin: 0px;  } 
    table { width: 100%; border-collapse: collapse; }
    td { border-left: 1px solid #333; padding: .1cm .5cm; }
    tr.odd { background: #ddf; }
    .r { text-align: right; }
    table { page-break-inside:auto }
    tr, td{ page-break-inside:avoid; }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    .nopb { page-break-after: avoid }
    .pb { page-break-after: auto }
    .nom { text-transform: uppercase; }
    .prenom { text-transform: capitalize; }
</style>

{% for e in equipes %}
{% if forloop.counter0|divisibleby:"20" %}
{% if not forloop.first %}<div style="page-break-before: always"></div>{% endif %}
<table>
    <thead>
        <tr>
            <th rowspan=2>#</th>
            <th rowspan=2>Nom</tH>
            <th colspan=8>H</th>
            <th colspan=8>F</th>
        </tr>
        <tr>
            <th>#</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>?</th>
            <th>#</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>?</th>
        </tr>
    </thead>
    <tbody>
{% endif %}
        <tr class="{% cycle 'odd' 'even' %} nopb">
            <td class="r">{{ e.numero }}</td>
            <td>{{ e.nom }}</td>
            <td>{{ e.homme| default:"" }}</td>
            <td>{{ e.tailles_homme_xs|default:"" }}</td>
            <td>{{ e.tailles_homme_s|default:"" }}</td>
            <td>{{ e.tailles_homme_m|default:"" }}</td>
            <td>{{ e.tailles_homme_l|default:"" }}</td>
            <td>{{ e.tailles_homme_xl|default:"" }}</td>
            <td>{{ e.tailles_homme_xxl|default:"" }}</td>
            <td>{{ e.tailles_homme_reste|default:"" }}</td>
            <td>{{ e.femme|default:"" }}</td>
            <td>{{ e.tailles_femme_xs|default:"" }}</td>
            <td>{{ e.tailles_femme_s|default:"" }}</td>
            <td>{{ e.tailles_femme_m|default:"" }}</td>
            <td>{{ e.tailles_femme_l|default:"" }}</td>
            <td>{{ e.tailles_femme_xl|default:"" }}</td>
            <td>{{ e.tailles_femme_xxl|default:"" }}</td>
            <td>{{ e.tailles_femme_reste|default:"" }}</td>
        </tr>
{% if forloop.counter|divisibleby:"20" or forloop.last %}
    </tbody>
</table>
{% endif %}
{% endfor %}
