## The following requirements were added by pip freeze:
aioredis==1.2.0
asgiref==2.3.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.2.1
Automat==0.7.0
bleach==2.1.4
certifi==2018.10.15
channels==2.1.7
channels-redis==2.3.3
daphne==2.2.5
Django==2.0
django-appconf==1.0.2
django-bootstrap-form==3.3
django-classy-tags==0.8.0
django-countries==5.0
django-form-admin==0.5.1
django-ipware==2.1.0
django-js-asset==1.1.0
django-jsonfield==0.9.15
django-mptt==0.9.1
django-nyt==1.1.2
django-sekizai==0.10.0
django-user-accounts==2.0.3
hiredis==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.6
jsonfield==2.0.2
Markdown==2.6.11
msgpack==0.6.1
msgpack-python==0.5.6
pinax-theme-bootstrap==7.1.1
python-dateutil==2.7.5
python-Levenshtein==0.12.0
pytz==2017.3
redis==2.10.6
requests==2.20.1
sorl-thumbnail==12.5.0
sqlparse==0.2.4
stripe==2.12.1
Twisted==18.9.0
txaio==18.8.1
typing==3.6.2
urllib3==1.22
wiki==0.4.4
zope.interface==4.6.0
