{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}
<style>
.separator td { border-bottom: 1px solid black }
</style>
<h1>{{ anniversaires|length }} anniversaire{{ anniversaires|length|pluralize }} le jour de la course</h1>
<table>
    <tr>
        <th>Dossard</th>
        <th>Nom</th>
        <th>Date de naissance</th>
        <th>Equipe</th>
        <th>Catégorie</th>
    </tr>
    {% for equipier in anniversaires %}
    <tr>
        <td>{{ equipier.equipe.numero }}{{ equipier.numero }}</td>
        <td>{{ equipier.nom }} {{ equipier.prenom }}</td>
        <td>{{ equipier.date_de_naissance }}</td>
        <td><a href="/course/inscriptions/equipe/{{ equipier.equipe.id }}/">{{ equipier.equipe.nom }}</a></td>
        <td>{{ equipier.equipe.categorie.code }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
