{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with nom=COURSE.nom %}Enduroller - {{ nom }}{% endblocktrans %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% blocktrans with nom=COURSE.nom %}Enduroller - {{ nom }}{% endblocktrans %}</h1>
{% endblock %}

{% block userlinks %}
    <a href="/course/choose/">{% blocktrans %}Changer de course{% endblocktrans %}</a> /
    <script>
var COURSES_UID = [{% for a in request.user.accreditations.all %}{% if a.role %}"{{ a.course.uid }}"{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}];
var COURSE_UID = "{{ COURSE.uid }}";
    </script>
    <script src="{{ STATIC_URL }}/admin/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/admin.js"></script>
    {% include "admin/_scripts.html" %}
    {% include "admin/_styles.html" %}
    {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
