{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Sélectionnez une course pour demander à faire partie de l'équipe :" %}</h1>
<ul>
    {% for course in courses %}
    <li>
        <a href="{{ course.uid }}/">{{ course.nom }} ({{ course.date }})</a>
    </li>
    {% endfor %}
    {% for course in demandes %}
    <li>
        {{ course.nom }} ({{ course.date }} - demande faite)
    </li>
    {% endfor %}
</ul>
<a href="/course/inscriptions/course/add/"><span>{% trans "Créer une nouvelle course" %}</span></a><br />
<a href="/course/join/ask"><span>{% trans "Demander à rejoindre l'équipe d'une course" %}</span></a>
{% endblock %}
