{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin.css" %}" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
{% if not COURSE %}<script>
location.href = "choose/";
</script>{% else %}
<script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<div id="content-main">

    {% with COURSE.stats as stats %}
    <div class="module summary">
        <table>
            <caption>
                {% blocktrans %}Résumé{% endblocktrans %}
            </caption>
            <tr>
                <th colspan="2">Dossiers</th>
                <td>
                    <a href="inscriptions/equipe/?status=complet">
                        ✅ Complets
                    </a>
                </th>
                <td>
                    <a href="inscriptions/equipe/?status=incomplet">
                        ✉ Incomplets
                    </a>
                </th>
                <td>
                    <a href="inscriptions/equipe/?status=erreur">
                        🚫 En Erreurs
                    </a>
                </th>
                <td>
                    <a href="inscriptions/equipe/?status=verifier">
                        ❔A vérifier
                    </a>
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <a href="inscriptions/equipe/?paiement=complet">Payés</a>
                </th>
                <td>
                    {{ stats.course.paiement|floatformat:2 }}€
                    ({% widthratio stats.course.paiement stats.course.prix 100 %}%)
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=complet&status=complet">
                        {{ stats.course.pc }}
                        ({% widthratio stats.course.pc stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=complet&status=incomplet">
                        {{ stats.course.pi }}
                        ({% widthratio stats.course.pi stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=complet&status=erreur">
                        {{ stats.course.pe }}
                        ({% widthratio stats.course.pe stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=complet&status=verifier">
                        {{ stats.course.pv }}
                        ({% widthratio stats.course.pv stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=complet">
                        {{ stats.course.p }}
                        ({% widthratio stats.course.p stats.course.equipes 100 %}%)
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <a href="inscriptions/equipe/?paiement=incomplet">Impayés</a>
                </th>
                <td>
                    {{ stats.course.reste_a_payer|floatformat:2 }}€
                    ({% widthratio stats.course.reste_a_payer stats.course.prix 100 %}%)
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=incomplet&status=complet">
                        {{ stats.course.ipc }}
                        ({% widthratio stats.course.ipc stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=incomplet&status=incomplet">
                        {{ stats.course.ipi }}
                        ({% widthratio stats.course.ipi stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=incomplet&status=erreur">
                        {{ stats.course.ipe }}
                        ({% widthratio stats.course.ipe stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=incomplet&status=verifier">
                        {{ stats.course.ipv }}
                        ({% widthratio stats.course.ipv stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?paiement=incomplet">
                        {{ stats.course.ip }}
                        ({% widthratio stats.course.ip stats.course.equipes 100 %}%)
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    Total
                </th>
                <td>
                    {{ stats.course.prix|floatformat:2 }}€
                </td>
                <td>
                    <a href="inscriptions/equipe/?status=complet">
                        {{ stats.course.pc|add:stats.course.ipc }}
                        ({% widthratio stats.course.pc|add:stats.course.ipc stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?status=incomplet">
                        {{ stats.course.pi|add:stats.course.ipi }}
                        ({% widthratio stats.course.pi|add:stats.course.ipi stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?status=erreur">
                        {{ stats.course.pe|add:stats.course.ipe }}
                        ({% widthratio stats.course.pe|add:stats.course.ipe stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/?status=verifier">
                        {{ stats.course.pv|add:stats.course.ipv }}
                        ({% widthratio stats.course.pv|add:stats.course.ipv stats.course.equipes 100 %}%)
                    </a>
                </td>
                <td>
                    <a href="inscriptions/equipe/">
                        {{ stats.course.equipes }}
                    </a>
                </td>
            </tr>
            <!--tr>
                <th>Equipiers:</th>
                <td>{{ stats.course.equipiers }} / {{ COURSE.limite_participants }}</td>
                <td colspan=4></td>
            </tr-->
        </table>
    </div>
    {% endwith %}
    <div class="module icons">
        <table>
            <caption>
                {% blocktrans %}Dossiers{% endblocktrans %}
            </caption>
            <tr>
                <td>
                    <a href="inscriptions/equipe/">
                        <i class="fa fa-group"></i><br />
                        <label>{% blocktrans %}Equipes inscrites{% endblocktrans %}</label>
                    </a>
                    <a href="document/review/">
                        <i class="fa fa-check-circle"></i><br />
                        <label>{% blocktrans %}Documents à vérifier{% endblocktrans %}</a>
                    </a>
                    <a href="inscriptions/paiement/">
                        <i class="fa fa-eur"></i><br />
                        <label>{% blocktrans %}Paiements{% endblocktrans %}</a>
                    </a>
                    <a href="/{{ COURSE.uid }}/stats/">
                        <i class="fa fa-line-chart"></i><br />
                        <label>{% blocktrans %}Statistiques{% endblocktrans %}</a>
                    </a>
                    <a href="anomalies/">
                        <i class="fa fa-exclamation-triangle"></i><br />
                        <label>{% blocktrans %}Anomalies{% endblocktrans %}</a>
                    </a>
                    <a href="/wiki/" target="_blank">
                        <i class="fa fa-book"></i><br />
                        <label>{% blocktrans %}Wiki{% endblocktrans %}</a>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="module icons">
        <table>
            <caption>
                {% blocktrans %}Réglage de la course{% endblocktrans %}
            </caption>
            <tr>
                <td>
                    <a href="inscriptions/course/">
                        <i class="fa fa-flag-checkered"></i><br />
                        <label>{% blocktrans %}Reglages de la course{% endblocktrans %}</label>
                    </a>
                    <a href="inscriptions/categorie/">
                        <i class="fa fa-trophy"></i><br />
                        <label>{% blocktrans %}Categories{% endblocktrans %}</label>
                    </a>
                    <a href="inscriptions/categorie/test/">
                        <i class="fa fa-trophy"></i><br />
                        <label>{% blocktrans %}Test des categories{% endblocktrans %}</label>
                    </a>
                    <a href="inscriptions/accreditation/">
                        <i class="fa fa-unlock-alt"></i><br />
                        <label>{% blocktrans %}Accreditations{% endblocktrans %}</label>
                    </a>
                    <a href="inscriptions/templatemail/">
                        <i class="fa fa-envelope"></i><br />
                        <label>{% blocktrans %}Modèles de mail{% endblocktrans %}</label>
                    </a>
                    <a href="inscriptions/extraquestion/">
                        <i class="fa fa-list"></i><br />
                        <label>{% blocktrans %}Questions supplémentaires{% endblocktrans %}</label>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="module icons">
        <table>
            <caption>
                {% blocktrans %}Exports{% endblocktrans %}
            </caption>
            <tr>
                <th>Listings (pour impressions)</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="/{{ COURSE.uid }}/listing/">
                        <i class="fa fa-sort-numeric-asc"></i><br />
                        <label>{% blocktrans %}Par numéro{% endblocktrans %}</label>
                    </a>
                    <a target="_blank" href="/{{ COURSE.uid }}/listing/?order=nom">
                        <i class="fa fa-sort-alpha-asc"></i><br />
                        <label>{% blocktrans %}Par nom d'équipe{% endblocktrans %}</label>
                    </a>
                    <a target="_blank" href="/{{ COURSE.uid }}/listing/?order=gerant_nom">
                        <i class="fa fa-long-arrow-down"></i>
                        <i class="fa fa-user"></i><br />
                        <label>{% blocktrans %}Par nom du gérant{% endblocktrans %}</label>
                    </a>
                    <a href="listing/dossards/">
                        <i class="fa fa-sitemap"></i><br />
                        <label>{% blocktrans %}Retrait dossards{% endblocktrans %}</label>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Fichiers CSV (pour le chronomètrage)</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="/{{ COURSE.uid }}/dossards.csv">
                        <i class="fa fa-table"></i><br />
                        <label>{% blocktrans %}Equipes et équipiers{% endblocktrans %}</label>
                    </a>
                    <a target="_blank" href="/{{ COURSE.uid }}/dossards_equipes.csv">
                        <i class="fa fa-table"></i><br />
                        <label>{% blocktrans %}Equipes{% endblocktrans %}</label>
                    </a>
                    <a target="_blank" href="/{{ COURSE.uid }}/dossards_equipiers.csv">
                        <i class="fa fa-table"></i><br />
                        <label>{% blocktrans %}Equipiers{% endblocktrans %}</label>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Fichiers CSV</th>
            </tr>
            <tr>
                <td>
                    <a target="_blank" href="/course/inscriptions/equipe/export/">
                        <i class="fa fa-table"></i><br />
                        <label>{% blocktrans %}Générer un export{% endblocktrans %}</label>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="module icons">
        <table>
            <caption>
                {% blocktrans %}Imports{% endblocktrans %}
            </caption>
            <tr>
                <td>
                    <a href="{% url "admin:course_resultats" %}">
                        <i class="fa fa-upload"></i><br />
                        <label>{% blocktrans %}Résultats{% endblocktrans %}</label>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}
