{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrahead %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/vendor/jquery/jquery.init.js"></script>
{% endblock %}

{% block content %}
<form method="post" action="/course/inscriptions/equipe/send/">
    <h1>Envoyer un mail à {{ queryset|length }} equipe{% if queryset|length > 1 %}s{% endif %}.</h1>
    <div>
    <fieldset class="module aligned ">
        <div class="form-row">
            <div>
                <label for="id_commentaires">Objet:</label>
                <select name="objet" id="id_objet">
                    <option value="equipe">Equipe</option>
                    <option value="equipier">Equipier</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label for="id_commentaires">Colonnes:</label>
                <div>

                </div>
            </div>
        </div>
    </fieldset>
</div>
    
    {% csrf_token %}
</form>
{% endblock %}
