{% extends "admin/change_form.html" %}
{% load i18n %}

{% block title %}{% if add %}{% blocktrans %}Enduroller{% endblocktrans %}{% else %}{{ block.super }{% endif %}{% endblock %}

{% block branding %}
{% if add %}
<h1 id="site-name">{% blocktrans %}Enduroller - Création d'une nouvelle course{% endblocktrans %}</h1>
{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if add %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Ajouter nouvelle course' %}
</div>
{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block content %}
    {% for k, v in adminform.errors.items %}
      {{ k }}: {{ v|join:", " }}<br />
    {% endfor %}
    {{ block.super }}
{% endblock %}
