form .aligned p { font-size: 12px; margin-top: -1px; }
.field-box.field-nombre label { width: 140px; }
.field-box.field-nombre { width: 180px; }

.field-box.field-paiement label { color: red; font-weight: bold; }
.field-box.field-piece_jointe_valide label { color: red; font-weight: bold; }
.field-box.field-piece_jointe2_valide label { color: red; font-weight: bold; }
.field-box.field-autorisation_valide label { color: red; font-weight: bold; }

.dashboard .module table td a {
    margin: 0 10px;
}
.dashboard #content { width: auto; }

#equipier_set-group .add-row { display: none; }
