EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"
EMAIL_HOST = 'mail.unimatrix.fr'
EMAIL_PORT = 10025
EMAIL_HOST_USER = 'puyb@puyb.net'
EMAIL_HOST_PASSWORD = 'nahitoss'
DEFAULT_FROM_MAIL = 'puyb@puyb.net'

MAPQUEST_API_KEY = 'Fmjtd|luub2d6ynd%2C25%3Do5-9u22ha'

FACEBOOK_APPID = '312843438846047'

from .default import *

INSTALLED_APPS.append('debug_toolbar')
