<p><em>English translation below</em></p>
<h1>Merci de vous &ecirc;tre inscrit aux {{ instance.course.nom }}</h1>
<p>
    Bonjour, {{ instance.gerant_prenom }} {{ instance.gerant_nom }}<br />
    Votre &eacute;quipe <strong>{{ instance.nom }}</strong> est inscrite aux {{ instance.course.nom }}, le {{ instance.course.date }}, sous r&eacute;serve de la r&eacute;ception et de la validation du paiement et des justificatifs.
</p>
{% include "_detail_paiement.html" %}
{% include "_detail_equipiers.html" %}
{% if not instance.paiement_complet or instance.licence_manquantes or instance.certificat_manquantes or instance.autorisation_manquantes %}
    <p>Si vous souhaitez envoyer votre paiement ou vos justificatifs par courrier, merci de les envoyer &agrave;</p>
    <p>{{ instance.course.adresse|linebreaksbr }}</p>
    <p>En pr&eacute;cisant le nom de votre &eacute;quipe et le num&eacute;ro d'inscription <strong>{{ instance.numero }}</strong>.</p>
{% endif %}
<p>Nous vous tiendrons au courant d&egrave;s que votre inscription sera d&eacute;finitive.</p>
<p>Si vous souhaitez modifier une information ou joindre une licence ou un certificat m&eacute;dical manquant, vous pouvez le faire en <a href="{{ ROOT_URL }}{% url "inscriptions_edit" course_uid=instance.course.uid numero=instance.numero code=instance.password %}">cliquant ici</a>.</p>
<p>
    --<br />
    {{ instance.course.organisateur }}
</p>
<hr />
<h1>Thank for registering at {{ instance.course.nom }}</h1>
<p>
    Hi,{{ instance.gerant_prenom }} {{ instance.gerant_nom }}<br />
    Your team <strong>{{ instance.nom }}</strong> is booked to the {{ instance.course.nom }}, on {{ instance.course.date }} under condition of good reception and validation of your paiment and justificatives.
</p>
{% include "_detail_paiement.html" %}
{% include "_detail_equipiers.html" %}
{% if not instance.paiement_complet or instance.licence_manquantes or instance.certificat_manquantes or instance.autorisation_manquantes %}
    <p>You can send paiment and justificatives to;</p>
    <p>{{ instance.course.adresse|linebreaksbr }}</p>
    <p>Specifying the name of your team and the registration number <strong>{{ instance.numero }}</strong>.</p>
{% endif %}
<p>You'll be informed as soon your registration is complete.</p>
<p>If you wan't to modify an information or add a missing justificative, you can do it by <a href="{{ ROOT_URL }}{% url "inscriptions_edit" course_uid=instance.course.uid numero=instance.numero code=instance.password %}">clicking here</a>.</p>
<p>
    --<br />
    {{ instance.course.organisateur }}
</p>
