{% with instance.ordered_paiements.last.paiement as paiement %}
<p>Bonjour, {{ instance.gerant_prenom }} {{ instance.gerant_nom }}<br /> Nous avons bien re&ccedil;u votre paiement de {{ paiement.montant }} &euro;:</p>
<ul>
{% for equipe_paiement in paiement.equipes.all %}
<li><strong>{{ equipe_paiement.equipe.numero }} {{ equipe_paiement.equipe.nom }}</strong>.</li>
{% endfor %}
</ul>

{% if instance.paiement_complet %}
<p>Votre facture pour l'équipe {{ instance.numero }} {{ instance.nom }} est téléchargeable en cliquant sur <a href="{{ ROOT_URL }}/{{ instance.course.uid }}/{{ instance.numero }}/facture/{{ instance.password }}/">ce lien</a>.</p>
{% endif %}
<p>--<br />{{ instance.course.organisateur }}</p>
<hr />
<p>Hi, {{ instance.gerant_prenom }} {{ instance.gerant_nom }}<br /> We just received your payment of &euro; {{ paiement.montant }} for:</p>
<ul>
{% for equipe_paiement in paiement.equipes.all %}
<li><strong>{{ equipe_paiement.equipe.numero }} {{ equipe_paiement.equipe.nom }}</strong>.</li>
{% endfor %}
</ul>

<p>--<br />{{ instance.course.organisateur }}</p>
{% endwith %}
